Repository Green-Software-Foundation/patterns, pull requests merged in 2022-11, with the labels that each got.

#158 Scale Kubernetes workloads based on events.md
  docs/catalog/cloud/Scale Kubernetes workloads based on events.md
Labels: Initial Review, Proposed Pattern, CLOUD

#146 Terminate TLS at border gateway.md
  docs/catalog/cloud/evaluate-whether-to-use-TLS-termination.md
Labels: SME Review, Proposed Pattern, CLOUD

#176 Add descriptions to frontmatter for AI, WEB and CLOUD
  docs/catalog/ai/compress-ml-models-for-inference.md
  docs/catalog/ai/efficent-format-for-model-training.md
  docs/catalog/ai/energy-efficent-ai-edge.md
  docs/catalog/ai/energy-efficent-framework.md
  docs/catalog/ai/energy-efficent-models.md
  docs/catalog/ai/leverage-sustainable-regions.md
  docs/catalog/ai/pre-trained-transfer-learning.md
  docs/catalog/ai/right-hardware-type.md
  docs/catalog/ai/serverless-model-development.md
  docs/catalog/cloud/cache-static-data.md
  docs/catalog/cloud/choose-region-closest-to-users.md
  docs/catalog/cloud/compress-transmitted-data.md
  docs/catalog/cloud/delete-unused-storage-resources.md
  docs/catalog/cloud/evaluate-whether-to-use-TLS-termination.md
  docs/catalog/cloud/implement-stateless-design.md
  docs/catalog/cloud/match-slo.md
  docs/catalog/cloud/match-utilization-requirements-of-vm.md
  docs/catalog/cloud/match-utilization-requirements-with-pre-configured-server.md
  docs/catalog/cloud/minimizing-deployed-environments.md
  docs/catalog/cloud/optimise-storage-resource-utilisation.md
  docs/catalog/cloud/optimize-avg-cpu-utilization.md
  docs/catalog/cloud/optimize-peak-cpu-utilization.md
  docs/catalog/cloud/queue-non-urgent-requests.md
  docs/catalog/cloud/reduce-transmitted-data.md
  docs/catalog/cloud/scale-down-kubernetes-workloads.md
  docs/catalog/cloud/scale-kubernetes-workloads-based-on-events.md
  docs/catalog/cloud/scan-for-vulnerabilities.md
  docs/catalog/cloud/set-retention-policy-on-storage-resources.md
  docs/catalog/cloud/shed-lower-priority-traffic.md
  docs/catalog/cloud/time-shift-kubernetes-cron-jobs.md
  docs/catalog/cloud/use-cloud-native-network-security-tools-and-controls.md
  docs/catalog/web/avoid-chaining-critical-requests.md
  docs/catalog/web/avoid-excessive-dom-size.md
  docs/catalog/web/avoid-tracking-unnecessary-data.md
  docs/catalog/web/defer-offscreen-images.md
  docs/catalog/web/deprecate-gifs.md
  docs/catalog/web/minify-web-assets.md
  docs/catalog/web/properly-sized-images.md
  docs/catalog/web/remove-unused-css.md
  docs/catalog/web/serve-images-in-modern-formats.md
  src/theme/Navbar/index.js
Labels: enhancement, website

#183 Add additional description field to template
  TEMPLATE.md
Labels: enhancement, website
