Repository Green-Software-Foundation/patterns, pull requests merged in 2022-10, with the labels that each got.

#89 Serve images in Modern Formats
  docs/catalog/web/serve-images-in-modern-formats.md
Labels: SME Review, Proposed Pattern, WEB

#100 Create avoid-chaining-critical-requests.md
  docs/catalog/web/avoid-chaining-critical-requests.md
Labels: SME Review, Proposed Pattern, WEB, hacktoberfest

#111 Update index.md
  docs/tags/index.md
Labels: hacktoberfest

#112 Explicitly adding links to the list of tags
  docs/guide/suggested-tags.md
Labels: hacktoberfest

#109 properly size images #75
  docs/catalog/web/properly-sized-images.md
Labels: SME Review, Initial Review, Proposed Pattern, WEB

#102 Avoid an excessive DOM size
  docs/catalog/web/avoid-excessive-dom-size.md
Labels: SME Review, Proposed Pattern, WEB

#82 Added pattern to match slo for cloud scenarios
  docs/catalog/cloud/match-slo.md
Labels: SME Review, Proposed Pattern, CLOUD

#79 AI Patterns
  docs/catalog/ai/energy-efficent-framework.md
  docs/catalog/ai/pre-trained-transfer-learning.md
  docs/catalog/ai/right-hardware-type.md
Labels: SME Review, Proposed Pattern, AI

#114 Defer offscreen Images #73
  docs/catalog/web/defer-offscreen-images.md
Labels: SME Review, Proposed Pattern, WEB

#95 Deprecate GIFs for animated content
  docs/catalog/web/deprecate-gifs.md
Labels: SME Review, Proposed Pattern, WEB, hacktoberfest

#116 adds pattern for minimizing deployed environments
  docs/catalog/minimizing-deployed-environments.md
Labels: SME Review, Proposed Pattern, CLOUD

#88 Create shed-lower-priority-traffic.md
  docs/catalog/cloud/shed-lower-priority-traffic.md
Labels: SME Review, Proposed Pattern, CLOUD, hacktoberfest

#97 52 web does the website avoid tracking user behavior and collecting data unnecessarily
  docs/catalog/web/avoid-tracking-unnecessary-data.md
Labels: SME Review, Proposed Pattern, WEB, hacktoberfest

#86 Create optimize-peak-cpu-utilization.md
  docs/catalog/cloud/optimize-avg-cpu-utilization.md
  docs/catalog/cloud/optimize-peak-cpu-utilization.md
Labels: SME Review, Proposed Pattern, CLOUD, hacktoberfest

#107 Minify Web Assets
  docs/catalog/web/minify-web-assets.md
Labels: SME Review, Proposed Pattern, WEB

#117 Remove unused CSS definitions
  docs/catalog/web/remove-unused-css.md
Labels: SME Review, Proposed Pattern, WEB

#118 Added AI patterns
  docs/catalog/ai/compress-ml-models-for-inference.md
  docs/catalog/ai/efficent-format-for-model-training.md
  docs/catalog/ai/energy-efficent-ai-edge.md
  docs/catalog/ai/energy-efficent-models.md
  docs/catalog/ai/leverage-sustainable-regions.md
  docs/catalog/ai/serverless-model-development.md
Labels: SME Review, Initial Review, Proposed Pattern, AI

#136 Cath review
  docs/catalog/ai/energy-efficent-framework.md
  docs/catalog/ai/pre-trained-transfer-learning.md
  docs/catalog/ai/right-hardware-type.md
  docs/catalog/cloud/cache-static-data.md
  docs/catalog/cloud/choose-region-closest-to-users.md
  docs/catalog/cloud/compress-transmitted-data.md
  docs/catalog/cloud/delete-unused-storage-resources.md
  docs/catalog/cloud/match-utilization-requirements-of-vm.md
  docs/catalog/cloud/match-utilization-requirements-with-pre-configured-server.md
  docs/catalog/cloud/minimizing-deployed-environments.md
  docs/catalog/cloud/optimise-storage-resource-utilisation.md
  docs/catalog/cloud/optimize-avg-cpu-utilization.md
  docs/catalog/cloud/optimize-peak-cpu-utilization.md
  docs/catalog/cloud/queue-non-urgent-requests.md
  docs/catalog/cloud/reduce-transmitted-data.md
  docs/catalog/cloud/set-retention-policy-on-storage-resources.md
  docs/catalog/cloud/shed-lower-priority-traffic.md
  docs/catalog/web/avoid-chaining-critical-requests.md
  docs/catalog/web/avoid-excessive-dom-size.md
  docs/catalog/web/avoid-tracking-unnecessary-data.md
  docs/catalog/web/defer-offscreen-images.md
  docs/catalog/web/deprecate-gifs.md
  docs/catalog/web/minify-web-assets.md
  docs/catalog/web/properly-sized-images.md
  docs/catalog/web/remove-unused-css.md
  docs/catalog/web/serve-images-in-modern-formats.md
Labels: Editing

#150 scan-for-vulnerabilities.md
  docs/catalog/cloud/scan-for-vulnerabilities.md
Labels: SME Review, Proposed Pattern, CLOUD

#156 Use cloud native network security tools and controls.md
  docs/catalog/cloud/Use cloud native network security tools and controls.md
Labels: SME Review, Proposed Pattern, CLOUD

#145 implement-stateless-design
  docs/catalog/cloud/implement-stateless-design.md
Labels: SME Review, Proposed Pattern, CLOUD
